<p>This is the partial for view 1.</p>
	
<div class="select-bg">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h4>Please choose a city to find out the local weather</h4>
				<select class="form-control" ng-change = "changeLocation()" ng-model = "location">
					<option ng-repeat="location in locations" >{{location.city}},{{location.state}}</option>
				</select>
			</div>
		</div>
	</div>  
</div>

<div class="container">
	<div class="row">
			<div class="col-md-12">
					<div class="panel panel-primary">
							<div class="panel-heading">
									<h3 class="panel-title">weather today in {{weatherRes.current_observation.display_location.full}}</h3>
							</div>
							<div class="panel-body">
								<div class="col-md-3">
									<img  alt= "this is an iamge" class="big-img" ng-src="https://icons.wxug.com/i/c/j/{{weatherRes.current_observation.icon}}.gif"/>
									<h4>{{weatherRes.current_observation.weather}}</h4>
								</div>
								<div class="col-md-9">
									<dl class="dl-horizontal">
											<dt>Temperature</dt>
											<dd>{{weatherRes.current_observation.temperature_string}}</dd>
											<dt>Feels like</dt>
											<dd>{{weatherRes.current_observation.feelslike_string}}</dd>
											<dt>Wind</dt>
											<dd>{{weatherRes.current_observation.wind_mph}} mph</dd>
											<dt>Humidity</dt>
											<dd>{{weatherRes.current_observation.relative_humidity}}</dd>
											<dt>UV</dt>
											<dd>{{weatherRes.current_observation.UV}}</dd>
										</dl>
								</div>
							</div>
					</div>
			</div>
		</div>
		<div class = "row">
			<div class="col-md-12">
					<canvas  id="line" class="chart chart-line" chart-data="data" chart-options="options"
					chart-labels="labels" chart-series="series" chart-click="onClick">
					</canvas>
			</div>
		</div>

    <div class="row">
			<div class="col-md-4" ng-repeat="forecast in forecastRes.forecast.simpleforecast.forecastday">
					<div class="panel panel-primary" >
							<div class="panel-heading">
									<h3 class="panel-title">{{forecast.date.pretty}}</h3>
							</div>
							<div class="panel-body">
								<img  alt= "this is an iamge" class="small-img" ng-src="https://icons.wxug.com/i/c/j/{{forecast.icon}}.gif"/>
								<h4>{{forecast.conditions}}</h4>
								<dl class="dl-horizontal">
									<dt>Temperature</dt>
									<dd>{{forecast.conditions}}</dd>
									<dt>High</dt>
									<dd>{{forecast.high.fahrenheit}}</dd>
									<dt>Low</dt>
									<dd>{{forecast.low.fahrenheit}}</dd>
									<dt>Wind</dt>
									<dd>{{forecast.avewind.mph}} mph</dd>
									<dt>Humidity</dt>
									<dd>{{forecast.avehumidity}}</dd>
									
								</dl>
							</div>
					</div>
			</div>
    </div>
  </div>