/* app css stylesheet */

/* 
color scheme for the whole site

#1c1f33
#507DBC
#A1C6EA
#BBD1EA
#DAE3E5 
*/

/* background colors , container margin etc. */
.dark-bg{
  background-color: #1c1f33;
  min-height: 300px;
  padding:110px 0px;
}
.footer-bg{
  background-color: #1c1f33;
  min-height: 200px;
  padding:100px 0px;
  margin-top:100px;
}
.select-bg{
  background-color: #a1c6ea;
  padding: 20px 0px 30px 0px;
  margin-bottom:50px;
}

.w-margin{
  margin-bottom:50px;
}

/* font styles */
h1,h2,h3,h4,h5,h6,p {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1{
  color: #bbd1ea;
  letter-spacing: 0.3rem;
}

h2, h4, h5 {
  color: #1c1f33;
  margin: 15px 0px;
}

h6 {
  color:white;
}

.bold {
  font-weight:bold;
}

/* position class */
.right{
  text-align: right;
}
.center {
  text-align: center;
}

/* select form styles */
.form-control{
  height:40px;
  font-size:16px;
  color:#1c1f33;
}

select option {
  min-height:1.6rem;
}


/* new UI */
.img-area {
  display: block;
  padding: 0px 40px 0px 50px;
}

.img-area img {
  width: 80px;
  height: 80px;
}

.detail-area span {
  background-color: #1c1f33;
  color: white;
  font-size: 1.6rem;
  letter-spacing: 0.3rem;
  border-radius: 20px;
  display: block;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}

.info {
  display: block;
  color: #1c1f33;
  padding: 5px 0px;
  font-size: 1.8rem;
}

.info .title {
  display: inline-block;
  padding-right: 8px;
  font-weight: bold;
  text-align: right;
  width: 50%;
}

.info p {
  display: inline;
}

.card {
  margin: 10px 5px;
  border-radius: 5px;
  border: 1px solid #bbd1ea;
  box-shadow: 2px 2px 1px #888;
}
.card .icon {
  display: block;
  padding: 10px 5px 0px 20px;
}

.card .icon h4 {
  display: inline;
  padding-left:20px;
}
.card .bottom-card {
  background: linear-gradient(to bottom, #fff, #c9d6ea);
  padding: 5px 15px 20px 15px;
}

.card .bottom-card h3 {
  text-align: center;
  min-height: 80px;
  margin:20px 0 0 0;
}

.charts-section{
  margin-top: 50px;
}